
/**
 * Menu:
 * tutorial: https://fr.w3docs.com/snippets/css/comment-creer-un-menu-de-navigation-deroulant-avec-css.html#:~:text=%C3%80%20l'aide%20des%20propri%C3%A9t%C3%A9s,menu%20avec%20la%20propri%C3%A9t%C3%A9%20color.
 */

.icon-line {
    background-color: gray;
}

#wrap {
    margin: 0;
    z-index: 99;
    background-color: #010101;
    display: flex;
    /* border */
    border-bottom: solid;
    border-width: 1px;
    border-color: #222222;
}

.navbar li {
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #010101;
}

.navbar a {
    padding: 18px 0;
    text-decoration: none;
    color: white;
    display: block;
}

.navbar li:hover,
a:hover {
    background-color: #222222;
}


.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar li ul li {
    background-color: #000000;
}

.navbar li ul li a:hover {
    background-color: #222222;
}


/* PC */
@media (min-width:65em) {
    #wrap {
	width: 100%;
	height: 50px;
	justify-content: center;
	position: relative;
    }

    .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: relative;
	display: flex;
    }

    .navbar li {
	height: 50px;
	width: 135.8px;
	font: normal bold 13px/1em Arial, Verdana, Helvetica;
    }

    .navbar li:hover ul {
	display: block;
    }

    /* hide menu button for phones */
    #phone-menu-button {
	position: absolute;
	visibility: hidden;
    } 
}

/*******************************************************************************/
/* Small PC */
@media (max-width:65em)
and (min-device-width: 500px){
    .icon-line {
	width: 45px;
	height: 7px;
	margin: 8px 0;
    }

    #phone-menu-button {
	margin: 5px 5px 5px 10px;
    } 

    #wrap {
	width: 0; /* put all elements on one column */
	flex-direction: column;
	position: absolute;
	top: 0;
    }

    .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: relative;
    }

    .navbar li {
	height: 50px;
	width: 150px;
	font: normal 20px/1em Arial, Verdana, Helvetica;
    }

    .navbar li ul {
	transform: translate(150px, -56px);
    }

    .navbar li:hover ul {
	display: flex;
	flex-direction: column;
    }
}

/*******************************************************************************/
/* Phone */
@media (max-device-width: 500px){
    .icon-line {
	width: 5vh;
	height: 1vh;
	margin: 1vh 0;
    }

    #phone-menu-button {
	margin: 5px 5px 5px 10px;
    } 

    #wrap {
	width: 0; /* put all elements on one column */
	flex-direction: column;
	position: absolute;
	top: 0;
    }

    .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: relative;
    }

    .navbar li {
	height: 5vh;
	width: 20vh;
	font: normal 3vh Arial, Verdana, Helvetica;
    }

    .navbar li ul {
	transform: translate(20vh, -5vh);
    }

    .navbar li:hover ul {
	display: flex;
	flex-direction: column;
    }
}
